<div class="row mt-3">
    <div class="col-12 col-md-4">
        <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Basic HTML</h3>
              <h3>Description:</h3>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil reiciendis cum sequi repellendus illo molestiae perferendis a nam delectus! Consectetur quam similique deleniti eligendi consequuntur ullam odit in doloremque quidem.</p>
              <h3>Price: Php 1000</h3>
              <button class="btn btn-primary">Enroll</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">CSS</h3>
              <h3>Description:</h3>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil reiciendis cum sequi repellendus illo molestiae perferendis a nam delectus! Consectetur quam similique deleniti eligendi consequuntur ullam odit in doloremque quidem.</p>
              <h3>Price: Php 1000</h3>
              <button class="btn btn-primary">Enroll</button>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Javascript</h3>
              <h3>Description:</h3>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil reiciendis cum sequi repellendus illo molestiae perferendis a nam delectus! Consectetur quam similique deleniti eligendi consequuntur ullam odit in doloremque quidem.</p>
              <h3>Price: Php 1000</h3>
              <button class="btn btn-primary">Enroll</button>
            </div>
        </div>
    </div>
</div>