<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" router="/">Course Booking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Courses</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <div *ngIf="hasToken; else noToken">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Username
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>
                </div>

                <div>
                    <ng-template #noToken>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/login">Login</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" routerLink="/register">Register</a> 
                        </li>
                    </ng-template>
                </div>            
            </ul>  
      </div>
    </div>
</nav>